@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Passion+One');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Cinzel|Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');


#background {
  /*background: url('http://www.kadinmag.net/wp-content/uploads/otizm-cocuk.jpg');
  background-size: 100% 100%;*/
  height: 500px;
  filter: grayscale(50%);
}

#img-text {
  color: #e0e0e0;
  text-align: center;
  padding: 0 120px 0 120px;
  margin-top: 115px;

  font-size: 4em;
  font-family: "Merriweather";
  background-color: black;
  filter: opacity(95%);
  border-radius: 15px;
  margin: 0 120px 0 120px;
}

.img-text, li {

  color: white;
  text-align: center;
  font-size: 2.8em;
  font-weight: bold;
  list-style: none;
  background-color: black;
  filter: opacity(85%);
  border-radius: 15px;
  margin: 10px 120px 0 120px;
}



#sign-up {
    font-family: 'Saira Extra Condensed';
    border: 2px solid #498fff;
    background-color: black;
    color: white;
    text-align: center;
    flex: 1;
    margin-top: -7px;
    color: #498fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

#sign-up:hover {
    color: white;
}

#sign-up:hover:after {
  font-weight: bold;
  color: white;
  border-radius: 25px;
}

.tab-button {
  color: grey;
  margin-top: 10px;
}

#services-background {
  text-align: center;
}

#header {
  font-family: 'Concert One';
}


.social-icon:hover {
  filter: brightness(100%)
}

#background{
  font-family: "Merriweather";
  font-weight: bold;

}


.background-filter{
  padding-top: 105px;
}

#devices {
  width: 40%;
  margin: 0 20%;
  margin-left: 30%;
  margin-top: 15px;
}


.jqueryIcons {
  flex: 1;
}

#club-submit {
  font-family: 'Saira Extra Condensed';
  border: 2px solid #498fff;
  background-color: black;
  color: white;
  text-align: center;
  flex: 1;
  margin-top: -7px;
  color: #498fff;
  width: 30%;
  margin-right: 35%;
  margin-left: 35%;
}

#club-submit:hover {
  color: white;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

.start-club {
  color: white;
}



.tab-button:hover, #selected {
  color: #48494A;
  margin-top: 10px;

}
